@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@mixin mobile {
    @media (max-width: 320px) { @content; }
}

@mixin gradient-text($angle: 90deg, $colors) {
    background: linear-gradient($angle, $colors);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

:root {
    // fonts
    --font-base: 'Inter', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    // colors
    --color-font-base: #E4E5EA;
    --color-bg: #0E1014;
    --color-gradient-main: #FFBF2E 24%, #FF3F78;
    --color-gradient-secondary: #FCB045 37%, #FD1D1D;
    --color-btn: #4077F3;
}

a {
    text-decoration: none;
    color: var(--color-font-base)
}
body {
    font-family: var(--font-base);
    font-weight: 400;
    color: var(--color-font-base);
    background-color: var(--color-bg);
}

.container {
    max-width: 1141px;
    margin: 0 auto;
    padding: 0 5vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 60px 0 90px 0;
    line-height: 19px;
    font-weight: 500;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin-right: 50px;
    font-family: var(--font-secondary);
    font-size: 10px;
    font-weight: 300;

    img {
        background-color: transparent;
    }

    span {
        margin-top: 10px;
        line-height: 12px;
    }
}

.menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 5px;
    font-size: 16px;
    list-style: none;

    &__item {
        margin: 0 30px 10px 0;
    }
}

.contacts {
    margin: 5px 0 0 auto;

    &__list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;
    }

    &__item {
        margin: 0 0 10px 30px;
        
        &:first-child {
            margin-left: 0;
        }

        &--phone {
            margin-left: 10px;
        }
    }
}

main {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.promo {
    max-width: 365px;

    &__title {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
    }

    &__text {
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    span {
        font-weight: 900;
        @include gradient-text(90deg, var(--color-gradient-main));
    }
}

.consultation {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    text-align: end;
    

    &__text {
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 5%;
        @include gradient-text(90deg, var(--color-gradient-secondary));
        text-transform: uppercase;
       
        > span {
            font-weight: 500;
            background: var(--color-font-base);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            text-transform: none;
        }
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;
    }

    &__item {
        width: 135px;
        margin: 0 0 30px 30px;

        span {
            display: block;
            margin-bottom: 6px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 5%;
        }

        p {
            font-family: var(--font-secondary);
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

    }

    &__button {
        margin: 60px 10px 0 60px;
        padding: 21px 24px 21px 45px;
        text-align: center;
        background-color: var(--color-btn);
    }
}